@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{

    &__grid{
        
        @include m.tablet { 
            @include m.grid(2, v.$separacion);
        }
    }
    &__contenido{
            background-color: v.$primario;
            padding: v.$separacion;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 2rem;
        }
    &__heading{
        color: v.$blanco;
        text-align: center;
        font-size: 2rem;
        @include m.desktop { 
            font-size: 3.5rem;
         }
    }

    &__campo{
        margin-bottom: 1rem;

    }
   

    &__imagen--contenedor{
        margin-top: v.$separacion;
        display: flex;
        justify-content: center;
    }

    &__imagen{
        width: 30rem;
        @include m.desktop { 
            width: 100%;
         }
    }
}