@use 'base/variables' as v;
@use 'base/mixins' as m;

.sesion{
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    
    &__contenedor{
        background-color: v.$primario;
        padding: v.$separacion;
        border-radius: 2rem;
        @include m.desktop { 
            width: 50%;
        }
    }

    &__titulo{
        color: v.$blanco;
        text-align: center;
        font-size: 2rem;
        @include m.tablet { 
            font-size: 4rem;
        }
    }

    &__campos{
        margin-bottom: 0;
    }

     &__label{
        display: block;
        color: v.$blanco;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    &__input{
        width:100%;
        align-items: center;
        padding: 1.5rem;
        border: none;
        
    }

    &__submit{
        margin-top: 2rem;
        width: 100%;
        @include m.boton(v.$secundario, v.$blanco);
        @include m.tablet{ 
            width: 100%;

        }
    }

    &__opciones{
        padding: 2rem;
        color: v.$blanco;
        display: flex;
        justify-content: space-between;
        @include m.tablet { 
            font-size: 2rem;
        }
    }

    &__olvidar{
        color: v.$blanco;
    }
}