@use 'base/variables' as v;
@use 'base/mixins' as m;

.sesion{
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    &__contenido{
        background-color: v.$primario;
        padding: v.$separacion;
        @include m.tablet { 
            width: 50%;
            
        }
    }

    &__heading{
        color: v.$blanco;
        text-align: center;
        font-size: 2rem;
        @include m.tablet { 
            font-size: 4rem;
        }
    }

    &__campo{
        margin-bottom: 0;
    }

     &__label{
        display: block;
        color: v.$blanco;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    &__input{
        width:100%;
        align-items: center;
        padding: 1.5rem;
        border: none;
        
    }

    &__submit{
        margin-top: 2rem;
        width: 100%;
        @include m.boton(v.$secundario, v.$blanco);
        @include m.tablet{ 
            width: 100%;

        }
    }
}