// Fuentes
$fuente_principal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #F02D64;
$secundario: #455a64;
$rosa: #FFF0F3;
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;

$separacion: 5rem;

// Botón “volver arriba”
$btn-size: 50px;
$btn-bg: #2e2e2e;
