@use 'base/variables' as v;
@use 'base/mixins' as m;

.descargar{
    padding: v.$separacion;
    background-color: v.$rosa;
    &__grid{
        @include m.tablet { 
            @include m.grid(2, v.$separacion);
        }
    }

    &__imagen{
        width: 50%;
        margin: 5rem auto 0 auto;
        margin: 0 auto;
        transition: property;
        transition-duration: 300ms;

        @include m.tablet { 
            margin-top: 0;
         }

        &:hover{
            transform: rotate(4deg) scale(1.2);
        }
    }
}