@use 'base/variables' as v;
@use 'base/mixins' as m;

.tiendas{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__grid{
        @include m.grid(2, 2rem);
    }

    &__heading{
        padding: 2rem;
        color: v.$secundario;
        margin: 2rem 0 0 0;
    }

    &__texto,
    &__heading{
        text-align: center;
        margin-bottom: 3rem;   
    }

    &__enlace{
        transition-property: transform;
        transition-duration: 500ms;
        &:hover{
            transform: scale(1.2);
        }
    }
}