@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial{
    background-color: v.$rosa;
    border-bottom: .5rem solid v.$secundario;
    border-top-right-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    &:last-of-type{
        margin-bottom: 0;
    } 

    @include m.tablet { 
        margin-bottom: 0;
        &:nth-child(1){
            grid-column: 1 / 3;
        }

        &:nth-child(3){
            grid-column: 1 / 3 ;
            
        }
        &:nth-child(4){
            grid-column: 3 / 4 ;
           

        }
        &:nth-child(5){
            grid-column: 1 / 4 ;
        }
     }

    @include m.desktop { 
       
        &:nth-child(1){
            grid-column: 1 / 4;
        }
    
        &:nth-child(3){
            grid-column: 5 / 6;
            grid-row: 1 / 3;
        }

        &:nth-child(4){
            grid-column: 1 / 3;
            
        }
        &:nth-child(5){
            grid-column: 3 / 5;
        }
     }

    &__header{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__imagen{
        flex-basis: 10rem;
        overflow: hidden;
        border-radius: 50%;
    }

    &__autor{
        border-bottom: .2rem solid v.$primario;
        margin: 1.5rem 0;
    }

    &__texto{
        font-size: 2rem;
        line-height: 1.5;
        margin: 2rem 0 0 0;
        padding-left: 4rem;
        position: relative;

        &::before{
            content: ' " ';
            font-size: 10rem;
            position: absolute;
            left: 0;
            top: -4rem;
            opacity: .3;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    }
}